
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}
*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}

.App {
  text-align: center;
}

