.menu-cont{
    position: fixed;
    right: 10px;
    width: 12.5%;
    top: 200px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 2px #000000; 
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #000000;
    
}
.menu-cont h5{
    margin: 0;
    padding: 20px 0;
    max-height: 16px;
    overflow: hidden;
}
.items-cont{
    padding: 5px;
}
.menu-item{
    font-size: 17px;
    font-weight: normal;
    cursor: pointer;
}
.items-cont button{
    border: 1.5px solid #69b4aa;
    padding: 3px 6px;
    border-radius: 3px;
    background: white;
    font-size: 15px;
    margin: 5px 0;
    width: 80%;


}

.cats-div h4{
    margin: 0;
    padding: 5px;

}
.menu-item:hover{
    background-color:#69b4aa ;
    color: white;
    border-radius: 3px;

}
.cats-div{
    
    text-align: center;
    
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.92);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.92);
   
    overflow-y: scroll;
}